<div class="container">

<h1>CRUD Operations </h1>
<h2 style="padding-top: 50px;">{{title}}</h2>
  <a href="/products/create-form" class="btn btn-success mb-3">Create Product</a>
 <table class="table table-striped">
     <tr>
         <th>#ID</th>
         <th>product_name</th>
         <th>price</th>
         <th>sku</th>
         <th>Action</th>

     </tr>
     {{#each products}}
     <tr>
         <td>{{this.id}}</td>
         <td>{{this.product_name}}</td>
         <td>{{this.price}}</td>
         <td>{{this.sku}}</td>
         <td>
             <a href="/products/edit-form/{{this.id}}" class="btn btn-info btn-sm">Edit</a>
             <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
         </td>

     </tr>
     {{/each}}
 </table>

</div>

